.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #262670;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header #company-logo {
  height: 50px;
  padding-left: 10px;
}

.header #concordia-logo {
  height: 40px;
  padding-right: 10px;
}

@media only screen and (max-width: 900px) {
  .header #concordia-logo {
    display: none;
  }
  .header {
    grid-template-columns: 1fr;
  }
 #aero-name-logo {
    display: none;
  }
  .check-repair-msg-bar {
    font-size: small;
  }

}


/* Message Bar */

.check-repair-msg-bar {
  height: 50px;
  margin: auto;
  display: grid;
  align-content: center;
  justify-content: center;
}

.check-repair-msg-bar-wrap {
  display: inline-flex
}

.check-repair-msg-bar-wrap .link-blue-std {
  justify-self: left;
  align-self: center;
}
.check-repair-msg-bar-wrap p {
  justify-self: right;
  padding-right: 10px;
}

/* Link STD Blue */
.link-blue-std {
  text-decoration: none;
  color: #0057ff;
}
.link-blue-std:hover {
  text-decoration: underline;
}


/* Revision Notes */

.revision-notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
}
#feedback-link-bottom{
  align-self: center;
}